*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cm{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 30px;
}.painel{
    display: flex;
    gap: 20px;
}
.azul{
    display: flex;
    gap: 10px;
background:#f5f5f5;
justify-content: center;
padding: 8px;
border-radius: 15px;
text-align: center;
color: white;
width: 100%;
box-sizing: border-box;
}
.azul button{
  flex: 1;
padding: 15px;
border-radius: 10px;
border: none;
background: white;
color: #555;
cursor: pointer;
font-size: 16px;
}
body{
    background-color: rgba(236, 220, 252, 0.884);
}
.adicionar{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ada9a9;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
}
input, textarea{
    padding: 8px;
    border-radius: 10px;
    border: none;
}
button{
    margin-left: 5px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
.botao{
    background-color: green;
}
textarea{
    padding: 20px;
}
label{
    display: flex;
}
